<div class="row mb-3">
    <div class="col-8">
        <h1>Authors</h1>
    </div>
    <div class="col-4 text-right">
        {{#link-to "authors.new"}}
            <button type="button" class="btn btn-primary">➕ New Author</button>
        {{/link-to}}
    </div>
</div>

{{#if isLoading}}
    <div class="row">
        <div class="col-12 text-center">
            {{loading}}
        </div>
    </div>
{{/if}}

{{#unless isLoading}}
    {{#each authors as |author|}}
        {{author-item author=author}}
    {{/each}}
{{/unless}}