<div class="row mb-3">
    <div class="col-8">
        <h1>Categories</h1>
    </div>
    <div class="col-4 text-right">
        <LinkTo @route="categories.new">
            <button type="button" class="btn btn-primary">➕ New Category</button>
        </LinkTo>
    </div>
</div>

{{#if isLoading}}
    <div class="row">
        <div class="col-12 text-center">
            {{loading}}
        </div>
    </div>
{{/if}}

{{#unless isLoading}}
    {{#each categories as |category|}}
        {{category-item category=category}}
    {{/each}}
{{/unless}}